{% extends "base.html" %}
{% load rotterdam_formulier_html %}
{% block title %}
    ExternR
{% endblock title %}
{% block body %}
    <turbo-frame id="feedback">
    <div class="taak-feedback">
        <h1>De taak kon niet worden opgelost</h1>
        <h2>Kunt u aangeven waarom u de taak niet heeft kunnen afhandelen?</h2>
        <dl>
            <div>
                <dt>
                    <strong>Taak:</strong>
                </dt>
                <dd>
                    {{ taak.taaktype }}
                </dd>
            </div>
            <div>
                <dt>
                    <strong>Adres:</strong>
                </dt>
                <dd>
                    {{ taak.adres }}
                </dd>
            </div>
        </dl>
        <form action="."
              method="post"
              class="form--beheer"
              data-controller="feedback"
              novalidate
              data-action="submit->feedback#onSubmit">
            {% csrf_token %}
            <fieldset>
                {{ form.omschrijving_intern_opties|render_rotterdam_formulier }}
                <div class="hidden-for-form" data-feedback-target="toelichting">
                    {{ form.omschrijving_intern|render_rotterdam_formulier }}
                </div>
            </fieldset>
            <div class="form-row container__button">
                <div class="form-row btn-row">
                    <button type="submit" class="btn btn-action">
                        <span>Versturen</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    </turbo-frame>
{% endblock body %}
